<!-- <!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="./assets/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="./assets/css/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Set a pick up</title>
  </head>
  <body> -->
<%- include('partials/header') %>

<div class="container">

  <div class="col s12 offset-s1">
    
    <!-- <a href="driver_view.html">  Driver Login / </a>
            <a href="dispatcher_view.html">  Dispatcher Login </a> -->
    <!-- <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a> -->
  </div>


    <div class="row">
      <div id="current-user-box" data-value="<%= data.user.username %>" ></div>
      <div class="col s12 >
          <!-- class=" m2" -->
        <div id="content">
          <header id="header" class=" blue darken-1">
            <a>
              
            </a> <%= data.user.u_full_name %>'s pick ups
          </header>

          <div class="container mt-5">
            <%- include('partials/messages') -%>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>Time</th>
                      <th>Location</th>
                      <th>vessel</th>
                      <th>Pass count</th>                      
                      <th>Destination</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                      <th>Time</th>
                      <th>Location</th>
                      <th>vessel</th>
                      <th>Pass count</th>                      
                      <th>Destination</th>
                        <th>Operations</th>
                    </tr>
                </tfoot>
                <tbody>
                    <% data.pickups.forEach((pickup)=> { %>
                            <tr>
                                <td><%= pickup.timeJa %></td>
                                <td><%= pickup.pickUp %></td>
                                <td><%= pickup.vessel %></td>
                                <td><%= pickup.numberPass %></td>
                                <td><%= pickup.dropOff %></td>
                                <td>
                                    <a class="btn btn-primary" href="/edit/<%= pickup._id %>">Edit</a>
                                    <form style="display: inline;" action="/delete/<%= pickup._id %>?_method=DELETE" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                                        <!-- <button style="cursor: pointer;" type="submit" class="btn green ml-2">Katia</button> -->
                                    </form>
                                </td>
                            </tr>
                       <% }) %>
                        
        
                    </tbody>
                </table>
            </div>





        
            <div class="col s12 ">
              <ul id="display-pickups-ul">
              </ul>
            </div>
         

          <div class="row" id="loaders">
            <img id="spinner" src="./assets/img/spinner.gif" width="150"> 
          <div class="row">
            <div class="col s6">

              <a  href="/seafarer" class="btn btn-primary">New Pickup</a>
              <!-- <button id="sendBtn1" class="btn waves-effect waves-light  pink darken-2" 
              type="submit" name="action">Send
                <i class="material-icons right">send</i>
              </button> -->
            </div>
            <div class="col s6">
              <!-- <button id="resetBtn" class="btn waves-effect waves-light light-blue darken-2" 
              type="submit">Reset
                 <i class="material-icons right">delete</i>
              </button> -->
            </div>
          </div>

          </form>

        </div> <!--.contenido-->
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="./assets/js/materialize.min.js"></script>
  <script type="module" src="./assets/js/app.js"></script>

  <%- include('partials/header') %>
    <!-- </body>
</html>
       -->