<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">SCI- transport

    </h1>
    <div value=" <%= data.username %>" id="current-user-box"></div>
    <p class="lead" ></p>hello,  <p><%= data.userId %></p></p>
    <hr>
    <a class="btn btn-light btn-lg" href="/userId" role="button"><h6><%= data.userId %></h6></a>
    <a class="btn btn-light btn-lg" href="/seafarer" role="button">seta pick up</a>
    <a class="btn btn-dark btn-lg" href="/driver"   role="button">driver_view</a>
    <a class="btn btn-dark btn-lg" href="/logout"   role="button">logout</a>
    <a class="btn btn-dark btn-lg" href="/profile"   role="button">profile</a>

  </div>
</div>

<%- include('partials/footer') %>
