<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Update profile</h1>
  <div value=" <%= data.username %>" id="current-user-box"></div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <!-- Makes POST request to /register route -->
          <form action="/update_profile" method="POST">
          
            <div class="form-group">
              <p><label for="user-email ">Email/Username</label>
              <input type="email" class="right" id="user-email" class="form-control" name="u_email" value= <%= data.username %>  /></p>
            </div>
            <div class="form-group">
              <p><label for="user-rank" class="left">current rank</label>
              <input type="text" id="user-rank"class="right" name="u_rank" value= <%= data.u_rank %>  /></p>
            </div>
            <div class="form-group">
              <label for="user-vessel">Current Vessel</label>
              <input type="text" id="user-vessel"class="right" name="u_vessel" value= <%= data.u_vessel %>  >
            </div>
            <div class="form-group">
              <label for="user-vessel_imo">imo number</label>
              <input type="text" id="user-vessel_imo" name="u_vessel_imo" class="right" value= <%= data.u_vessel_imo %>  >
            </div>
            <div class="form-group">
              <label for="user-whatsApp">Your whatsApp number</label>
              <input type="text" id="user-whatsApp"class="right" name="u_whatsApp" value= <%= data.u_whatsApp %>  >
            </div>
            <div class="form-group">
              <label for="user-cell">Your cell number</label>
              <input type="text" id="user-cell" class="right" name="u_cell" value= <%= data.u_cell %>  >
            </div>
            <div class="form-group">
              <label for="user-first-name">Your First Name</label>
              <input type="text" id="user-first-name"class="right" name="u_first_name"  value= <%= data.u_first_name %> >
            </div>
            <div class="form-group">
              <label for="user-last-name">Your Last Name</label>
              <input type="text" id="user-last-name"class="right" name="u_last_name" value= <%= data.u_last_name %>  >
            </div>
            <div class="form-group">
              <label for="u_role">Your Role - default is seafarer </label>
              <input type="text" id="u_role"class="right" value="seafarer"  name="u_role"  />
            </div>
            <div class="form-group">
              <label for="u_code">"Please type the 7 digit vessel's code as received on paper at the gangway"</label>
              <input type="text" id="u_code"class="right"  name="u_code" value =<%= data.u_code %> > 
            </div>
            <p>The information you enter above will be used for pick up requests only and will not be shared with anyone.</p>
            <p>In case of problems please email us at: profiles(at)amicusshippingllc.com</p>
           <p>Profile completed: <%= data.completed %></p>
           <p>User verified: <%= data.verified %></p>
           
           
           
           <!-- <div class="form-group">
              <label for="u_role">Sellect a role for this User:</label>
              <select id="u_role">
                <option value="crew_member" selected>crew member</option>
                <option value="driver">driver</option>
                <option value="dispatcher">dispatcher</option>
                <option value="admin">admin</option>
              </select>
            </div> -->

            <button type="submit" id="update_profile" class="btn btn-dark">Update Profile</button>
          </form>
        </div>
      </div>
    </div>

    <!-- <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn " href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div> -->
  </div>
</div>

<%- include('partials/header') %>
